* {
    box-sizing: border-box
}

body,
html {
    margin: 0;
    padding: 0;
    color: #000
}

.row .col[class*=pull-],
.row .col[class*=push-],
sub,
sup {
    position: relative
}

progress,
sub,
sup {
    vertical-align: baseline
}

button,
hr,
input {
    overflow: visible
}

.row .col,
legend {
    box-sizing: border-box
}

.clear,
.row:after {
    clear: both
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 5px
}

.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s12,
.row .col.s2,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
    margin-left: auto;
    left: auto;
    right: auto
}

.row {
    margin: 0 -5px
}

.row:after {
    content: "";
    display: table
}

.row .col {
    float: left;
    padding: 0 5px
}

.row .col.s1 {
    width: 8.3333333333%
}

.row .col.s2 {
    width: 16.6666666667%
}

.row .col.s3 {
    width: 25%
}

.row .col.s4 {
    width: 33.3333333333%
}

.row .col.s5 {
    width: 41.6666666667%
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s7 {
    width: 58.3333333333%
}

.row .col.s8 {
    width: 66.6666666667%
}

.row .col.s9 {
    width: 75%
}

.row .col.s10 {
    width: 83.3333333333%
}

.row .col.s11 {
    width: 91.6666666667%
}

.row .col.s12 {
    width: 100%
}

@media only screen and (min-width: 769px) {
    .row .col.m1,
    .row .col.m10,
    .row .col.m11,
    .row .col.m12,
    .row .col.m2,
    .row .col.m3,
    .row .col.m4,
    .row .col.m5,
    .row .col.m6,
    .row .col.m7,
    .row .col.m8,
    .row .col.m9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m1 {
        width: 8.3333333333%
    }
    .row .col.m2 {
        width: 16.6666666667%
    }
    .row .col.m3 {
        width: 25%
    }
    .row .col.m4 {
        width: 33.3333333333%
    }
    .row .col.m5 {
        width: 41.6666666667%
    }
    .row .col.m6 {
        width: 50%
    }
    .row .col.m7 {
        width: 58.3333333333%
    }
    .row .col.m8 {
        width: 66.6666666667%
    }
    .row .col.m9 {
        width: 75%
    }
    .row .col.m10 {
        width: 83.3333333333%
    }
    .row .col.m11 {
        width: 91.6666666667%
    }
    .row .col.m12 {
        width: 100%
    }
}

@media only screen and (min-width: 1025px) {
    .row .col.l1,
    .row .col.l10,
    .row .col.l11,
    .row .col.l12,
    .row .col.l2,
    .row .col.l3,
    .row .col.l4,
    .row .col.l5,
    .row .col.l6,
    .row .col.l7,
    .row .col.l8,
    .row .col.l9 {
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l1 {
        width: 8.3333333333%
    }
    .row .col.l2 {
        width: 16.6666666667%
    }
    .row .col.l3 {
        width: 25%
    }
    .row .col.l4 {
        width: 33.3333333333%
    }
    .row .col.l5 {
        width: 41.6666666667%
    }
    .row .col.l6 {
        width: 50%
    }
    .row .col.l7 {
        width: 58.3333333333%
    }
    .row .col.l8 {
        width: 66.6666666667%
    }
    .row .col.l9 {
        width: 75%
    }
    .row .col.l10 {
        width: 83.3333333333%
    }
    .row .col.l11 {
        width: 91.6666666667%
    }
    .row .col.l12 {
        width: 100%
    }
}
