table {
	background-color: #fff;
	border-collapse: collapse;
}
table td {
	border: 1px solid #666;
	padding: 5px;
	vertical-align: top;
	word-break: break-word;
}
.double-table {
	margin-bottom: 40px;
}
.double-table td {
	width: 50%;
}
.triple-table {
	font-size: 14px;
	width: 33%;
}
.report-table {
	font-size: 14px;
	margin-bottom: 40px;
}
.report-table td {

}
.report-table tr:nth-child(even) {
	background-color: #eee;
}
.report-table tr:hover {
	background-color: #ddd;
}
.report-table td:nth-child(1) {
	font-weight: bold;
	text-align: center;
	width: 20%;
}
.report-table td:nth-child(2) {
	text-align: center;
	width: 40%;
}
.report-table td:nth-child(3) {
	text-align: center;
	width: 40%;
}

.report__avatar {
	border-radius: 50%;
	display: block;
	height: 50px;
	margin: 0 0 0.5rem;
	width: 50px;
}
.report__link {
	color: #c3008f;
	display: block;
	margin: 0 0 0 10px;
	text-decoration: none;
}
.report__bage {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}
