table {
	border-collapse: collapse;
}
table td {
	border: 1px solid #666;
	padding: 10px;
	vertical-align: top;
	word-break: break-all;
}
.double-table {
	margin-bottom: 40px;
}
.double-table td {
	width: 50%;
}
.triple-table {
	width: 33%;
}
.report-table {
	margin-bottom: 40px;
}
.report-table td {
	width: 33%;
}
.report-table td:nth-child(2) {
	font-weight: bold;
	text-align: center;
}