@import '_grid';
@import '_degree';
@import '_footer';
@import '_punchcard-table';
@import '_report';
@import '_spoiler';

body {
  padding: 0;
  font-family: Arial;
}

.section {
  margin: 0 0 2rem;
  padding: 2rem 0;
}
